.day-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}
.day-header .arrow-icon {
  font-size: 45px;
}
.day-header h2 {
  margin: 8px;
}
.meal-badge {
  color: "#ffffff";
  padding: 3px 5px;
  border-radius: 5px;
  margin: 0 5px;
}